extends ../templates/layout

block content
  form(name="get-site", action="/external-webpage", method="GET")
    input(type="url" name="url" placeholder="http://some.webpage.com")
    input(type="submit" value="gimme")
