.internal-content
  p Select news source:

  ul
    li: a(href="/news/hp/page/1") Huffington Post
  ul
    li: a(href="/news/cnn/page/1") CNN
  ul
    li: a(href="/news/npr/page/1") NPR
  ul
    li: a(href="/news/aj/page/1") Al Jazeera
  ul
    li: a(href="/news/fn/page/1") Fox News
  ul
    li: a(href="/news/nyt/page/1") New York Times
